[id^="kssref-layouts-"] [class^="layout-"][class*="__"] {
  outline: 1px dotted #404040;
}

.wrap-demo {
  padding: 20px;
}
@media (min-width: 47.5em) {
  .wrap-demo {
    background-color: #2ba9e0;
  }
}

.demo-bg {
  padding-top: 60px;
  background: #2ba9e0;
  position: relative;
}
@media (min-width: 47.5em) {
  .demo-bg {
    background: none;
    padding: 0;
  }
}
