{#
/**
 * @file
 * display a node.
 */
#}
<article id="node-{{ node.id }}" class="{{ attributes.class}} clearfix"{{ attributes }} role="article">

  <h3>{{ content.field_teaser_title }}</h3>

</article>
